.quotes-todo-bottom-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
}

.time-top-container {
  height: 250px;
  margin: auto;
  display: flex;
  align-items: center;
  z-index: 100;
}


.time-container {
  margin-top: 100px;
  margin-bottom: 0;
  padding-bottom: 0;
}

.time  {
  font-size: 150px;
  font-family: 'Fredoka', sans-serif;
  font-weight: 700;
}

.timezone {
  font-size: 40px;
  font-family: 'Fredoka', sans-serif;
}

#name-field {
  width: 200px;
  height: 50px;
  position: absolute;
  top: 38%;
  right: 35%;
  background: transparent;
  border: none;
}

.bottom-right-container {
  height: 100%;
  width: 300px;
  position: relative;
  right: 0;
  bottom: -25%;
  z-index: 200;
}

.quotes-container {
  margin-top: 200px;
  margin-left: 150px;
  font-size: 27px;
  font-family: 'Lustria', serif;
  text-align: center;
}

.quote-text {
  margin-bottom: 25px;
  font-size: 40px;
  font-weight: bold;
}

.quote-author {
  font-style: italic;
}
